body {
    background-color: rgb(0, 0, 124);
    background-image: url("/bgb.jpg");



}

#header {
    align-self: center;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    padding: 2px;
    color: rgb(140, 140, 207);
    background-color: rgba(7, 7, 131, 0.664);
    background-image: url("/Basketball.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 62%;


}

h1 {
    font-size: large;
    text-align: center;
}

h2 {
    font-size: 80px;
}
h3 {
    font-size:x-large ;
}

#inhalt {
    text-align: left;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(140, 140, 207);
    width: 75%;
    margin: 0 auto;
}

.button {
    display: inline-block;
    width: 275px;
    
    background-color: rgba(27, 27, 27, 0.397);
    border-radius: 90px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    color: rgb(140, 140, 207);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.button>img {
    height: 40px;
    vertical-align: unset;
}
    .button {
    transition: all .2s ease-in-out;
}

.button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.buttonline {
    text-align: center;
}